.bodyContainer {
  // max-height: 40vh;
  width: calc(100% - 250px);
  background-color: $primary-color;
  padding: 25px 30px;
  display: grid;
  grid-gap: 20px 50px;
  grid-template-columns: repeat(4, 1fr);
  direction: auto;
}

@media only screen and (max-width: 1263px) {
  .bodyContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .bodyContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 720px) {
  .bodyContainer {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 520px) {
  .bodyContainer {
    width: 100%;
    padding: 50px 30px 100px 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}
