.Discountmain{
    padding:6%;
    display: flex;
    justify-content: center;
    margin: 0  !important;
}

@media only screen and (max-width:767px) {
    .datein{
        margin-bottom: 10px !important;
    }
  
}
