.input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-weight: bold;
}




.dx-checkbox-icon {
  display: inline-block;
  position: relative;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat}