.selectorsWrapper {
	width: 50% !important;
	@include align-row-between;
}

.selectorContainer {
	width: 300px;
	@include align-row-between;
}

.selector {
	width: 65%;
	outline: none;
	border: none;
	height: 40px;

	&--optionStyle {
		// box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
	}

	&--labelStyle {
		font-size: 15px;
		font-weight: bold;
	}
}
