.selectReport {
  color: #9e9e9e;
  align-items: center;
  font-size: 36px;
  display: flex;
  height: 300px;
  justify-content: center;
  font-weight: 900;
  border: #efefef 1px solid;
}

.dx-tab .dx-icon {
  margin-left: 8px;
}

.dx-tab-text {
  font-weight: 700;
}
