.four {
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr;
  column-gap: 5px;
  margin: 0 0 10px 0;
}

.two {
  display: grid;
  width: 100%;
  grid-template-columns: 80px 1fr;
  column-gap: 5px;
  margin: 0 0 10px 0;
}

.one {
  display: grid;
  width: 100%;
  grid-template-columns: 60px 1fr;
  column-gap: 5px;
  margin: 0 0 10px 0;
}

.item-discription {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 10px;
  row-gap: 10px;
  direction: rtl;
}

.f {
  border-style: solid;
  border-color: #dddddd;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 10px 10px;
  display: flex;
  position: absolute;
  top: -75px;
  padding: 20px;
  height: 75px;
  width: 340px;
  z-index: 100;
  background-color: #f2f2f2;
  transition: 1s;
  left: calc(50% - 170px);
}

.f-click {
  transform: translateY(75px);
}
